// variables;
// colours
$black: hsl(0, 0%, 0%);
$darkGray: hsl(0, 0%, 48%);
$moderateCyan: hsl(176, 50%, 47%);
$darkCyan: hsl(176, 72%, 28%);
$lightGray: #e8e8e8;

// fontSize
$fontSize: 16px;

//font link
@import url(https://fonts.googleapis.com/css?family=Commissioner:100,200,300,regular,500,600,700,800,900);

//font type
$commissioner: "Commissioner", sans-serif;

// font weight
$fontWeight4: 400;
$fontWeight5: 500;
$fontWeight7: 700;
$fontWeight9: 900;

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  max-width: 100%;
}

//Container for the navbar

header {
  height: calc(52vh - 12.8px);
  background: url(./images/image-hero-desktop.jpg) no-repeat center;
  background-size: cover;
  flex: 1;
  width: 100%;
}

.hamburger {
  display: none;
}

nav {
  height: calc(12vh - 12.8px);
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-for-links {
  height: calc(4vh - 12.8px);
  width: 100%;
  display: flex;
}

.navbar-brand {
  flex: 2;
}

.nav-links-container {
  flex: 1;
}

.nav-links {
  display: flex;
  justify-content: space-around;
}

.nav-links-item {
  list-style: none;
}

.nav-links-item > a {
  text-decoration: none;
  color: whitesmoke;
  font-size: $fontSize;
  font-weight: $fontWeight5;
  font-family: $commissioner;
}

main {
  width: 100%;
  display: grid;
  place-items: center;
  background-color: whitesmoke;
}

section.overall-container {
  display: grid;
  place-items: center;
  width: 100%;
  position: relative;
  top: -100px;
}

.main-section {
  width: 100%;
  display: grid;
  place-items: center;
}

.first-section {
  width: 70%;
  background-color: #fff;
  border-radius: 10px;

  .image-container {
    display: flex;
    justify-content: center;
    position: relative;
    height: 7vh;
  }

  .image-container > img {
    position: absolute;
    top: -20px;
  }

  .title {
    text-align: center;
    margin: 0px 10px;
    font-family: $commissioner;
    font-weight: $fontWeight7;
    font-size: Clamp(1.5rem, 5vw, 1.75rem);
  }

  .description {
    text-align: center;
    font-family: $commissioner;
    font-weight: $fontWeight4;
    margin: 15px 10px;
    font-size: Clamp(1.1rem, 5vw, 0.8rem);
    color: #a9a9a9;
  }

  .button-container {
    display: flex;
    width: 85%;
    margin: 30px auto;
    min-height: 4vh;

    .button1 {
      flex: 2;
      display: flex;

      .svg-container {
        display: none;
        flex: 1;

        circle#circle-fill1 {
          fill: $darkGray;
          opacity: 1;
        }

        path#path-fill1 {
          fill: $lightGray;
          opacity: 0.4;
        }
      }

      .button {
        background-color: $darkCyan;
        border: none;
        color: #fff;
        padding: 1em 1.25em;
        text-align: center;
        text-decoration: none;
        white-space: nowrap;
        display: inline-block;
        margin: 0.25rem 0.125rem;
        font-family: $commissioner;
        font-size: Clamp(0.8rem, 5vw, 1rem);
        font-weight: $fontWeight4;
        cursor: pointer;
        border-radius: 30px;
      }
    }

    .bookmark-container {
      flex: 1;
      display: flex;
      justify-content: flex-end;

      .relative-bookmark {
        display: flex;
        position: relative;

        .svg-container {
          position: absolute;
          width: 100%;
          left: 0px;
          flex: 1;
          cursor: pointer;
          z-index: 70;
        }

        circle#circle-fill {
          fill: $darkGray;
          opacity: 1;
        }

        path#path-fill {
          fill: $lightGray;
          opacity: 0.4;
        }

        .bookmark-contain {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 56px;
          right: 0px;
          flex: 2;
          width: 180px;
          background-color: $darkGray;
          opacity: 0.3;
          z-index: 0;
          border-radius: 25px;
          padding: 20px 20px;

          .description1 {
            text-align: center;
            font-family: $commissioner;
            font-weight: $fontWeight4;
            padding-left: 1.7rem;
            opacity: none;
            font-size: $fontSize;
            display: block;
          }

          .description {
            text-align: center;
            font-family: $commissioner;
            font-weight: $fontWeight4;
            padding-left: 2.5rem;
            display: none;
            color: #008b68;
            font-size: $fontSize;
          }

          span.description-hover {
            text-align: center;
            font-family: $commissioner;
            font-weight: $fontWeight4;
            margin: 15px 10px;
            display: none;
            font-size: $fontSize;
          }
        }
      }
    }

    circle:hover .description-hover {
      display: block;
    }

    circle:hover p.description {
      display: none;
      color: cornflowerblue;
    }
  }
}

.second-section {
  min-height: 176px;
  margin-top: 50px;
  width: 70%;
  display: grid;
  place-items: center;
  border-radius: 10px;
  background-color: #fff;
}

.contents {
  width: 90%;
  display: flex;
  min-height: calc(15vh - 12.8px);
}

.description1 {
  flex: 1;
  display: flex;
  align-items: center;
  border-right: 3px solid $darkGray;

  .title {
    margin: 5px 10px;
    font-family: $commissioner;
    font-weight: $fontWeight5;
    font-size: 1.8rem;
  }
  .descriptionss {
    margin: 0px 10px;
    font-family: $commissioner;
    font-weight: $fontWeight4;
    color: $darkGray;
    font-size: 1.3rem;
  }
}

.description2 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 3px solid $darkGray;

  .title1 {
    margin: 5px 10px;
    font-family: $commissioner;
    font-weight: $fontWeight5;
    font-size: 1.8rem;
  }
  .descriptionss {
    margin: 0px 10px;
    font-family: $commissioner;
    font-weight: $fontWeight4;
    color: $darkGray;
    font-size: 1.3rem;
  }
}

.description3 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  .title {
    margin: 5px 10px;
    font-family: $commissioner;
    font-weight: $fontWeight5;
    font-size: 1.8rem;
  }
  .descriptionss {
    margin: 0px 10px;
    font-family: $commissioner;
    font-weight: $fontWeight4;
    color: $darkGray;
    font-size: 1.3rem;
  }
}

.progress-bar-container {
  width: 90%;
  background-color: $darkGray;
  height: 2vh;
  border-radius: 10px;
}
.progress-bar {
  width: 80%;
  height: 2vh;
  border-radius: 10px;
  background-color: $darkCyan;
}

.third-section {
  width: 70%;
  margin-top: 50px;
  display: grid;
  place-items: center;
  border-radius: 10px;
  background-color: #fff;
}

.centered-container {
  width: 90%;

  .title {
    margin: 20px 10px;
    font-family: $commissioner;
    font-weight: $fontWeight7;
    font-size: 1.7rem;
  }

  .description-project {
    margin: 10px 10px 30px 10px;
    font-family: $commissioner;
    font-weight: $fontWeight4;
    color: $darkGray;
    font-size: 1.1rem;
    line-height: 1.6;
  }
}

div.third-section-first-container {
  width: 90%;
  border-radius: 8px;
  border: 1px solid $lightGray;
  margin-bottom: 1.3rem;

  div.inner-container1 {
    width: 90%;
    margin: 1.5rem auto;
    p.bamboo {
      display: inline-block;
      color: $black;
      font-size: $fontSize;
      font-weight: $fontWeight7;
      font-family: $commissioner;
    }

    p.pledge {
      color: $moderateCyan;
      font-size: $fontSize;
      font-weight: $fontWeight5;
      font-family: $commissioner;
      display: inline-block;
      float: right;
    }

    p.description {
      font-size: 1.1rem;
      margin: 1.7rem 0rem;
      color: $darkGray;
      line-height: 1.6;
      font-family: $commissioner;
    }

    p.number {
      font-size: 1.8rem;
      font-weight: $fontWeight7;
      font-family: $commissioner;
      color: black;
      display: inline-block;
    }
    sup {
      vertical-align: middle;
      font-size: initial;
      font-size: $commissioner;
      color: $darkGray;
    }

    .button {
      background-color: $darkCyan;
      border: none;
      color: #fff;
      padding: 0.6em 1.2em;
      text-align: center;
      text-decoration: none;
      white-space: nowrap;
      display: inline-block;
      // margin: 0.25rem 0.125rem;
      font-family: $commissioner;
      font-size: Clamp(0.8rem, 5vw, 1rem);
      font-weight: $fontWeight4;
      cursor: pointer;
      border-radius: 30px;
      float: right;
    }
  }
}

div.third-section-second-container {
  width: 90%;
  border-radius: 8px;
  border: 1px solid $lightGray;
  margin-bottom: 1.3rem;

  div.inner-container2 {
    width: 90%;
    margin: 1.5rem auto;
    p.bamboo {
      display: inline-block;
      color: $black;
      font-size: $fontSize;
      font-weight: $fontWeight7;
      font-family: $commissioner;
    }

    p.pledge {
      color: $moderateCyan;
      font-size: $fontSize;
      font-weight: $fontWeight5;
      font-family: $commissioner;
      display: inline-block;
      float: right;
    }

    p.description {
      font-size: 1.1rem;
      margin: 1.7rem 0rem;
      color: $darkGray;
      line-height: 1.6;
      font-family: $commissioner;
    }

    p.number {
      font-size: 1.8rem;
      font-weight: $fontWeight7;
      font-family: $commissioner;
      color: black;
      display: inline-block;
    }
    sup {
      vertical-align: middle;
      font-size: initial;
      font-size: $commissioner;
      color: $darkGray;
    }

    .button {
      background-color: $moderateCyan;
      border: none;
      color: #fff;
      padding: 0.6em 1.2em;
      text-align: center;
      text-decoration: none;
      white-space: nowrap;
      display: inline-block;
      font-family: $commissioner;
      font-size: Clamp(0.8rem, 5vw, 1rem);
      font-weight: $fontWeight4;
      cursor: pointer;
      border-radius: 30px;
      float: right;
    }
  }
}

div.third-section-third-container {
  width: 90%;
  border-radius: 8px;
  border: 1px solid $lightGray;
  margin-bottom: 1.3rem;

  div.inner-container3 {
    width: 90%;
    opacity: 0.6;
    margin: 1.5rem auto;
    p.bamboo {
      display: inline-block;
      color: $black;
      font-size: $fontSize;
      font-weight: $fontWeight7;
      font-family: $commissioner;
    }

    p.pledge {
      color: $moderateCyan;
      font-size: $fontSize;
      font-weight: $fontWeight5;
      font-family: $commissioner;
      display: inline-block;
      float: right;
    }

    p.description {
      font-size: 1.1rem;
      margin: 1.7rem 0rem;
      color: $darkGray;
      line-height: 1.6;
      font-family: $commissioner;
    }

    p.number {
      font-size: 1.8rem;
      font-weight: $fontWeight7;
      font-family: $commissioner;
      color: black;
      display: inline-block;
    }
    sup {
      vertical-align: middle;
      font-size: initial;
      font-size: $commissioner;
      color: $darkGray;
    }

    .button {
      background-color: $moderateCyan;
      border: none;
      color: #fff;
      padding: 0.6em 1.2em;
      text-align: center;
      text-decoration: none;
      white-space: nowrap;
      display: inline-block;
      font-family: $commissioner;
      font-size: Clamp(0.8rem, 5vw, 1rem);
      font-weight: $fontWeight4;
      cursor: pointer;
      border-radius: 30px;
      float: right;
    }
  }
}

div.modal {
  position: fixed;
  z-index: 100;
  padding-top: 4.25rem;
  left: 0;
  display: none;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

div.modal-content {
  // background-color: $lightGray;
  background-color: #fff;
  margin: auto;
  overflow-y: hidden;
  border-radius: 8px;
  padding: 1.25rem;
  width: 70%;

  div.modal-content-inner-container {
    width: 98%;
    margin: 0.2rem auto;
    p.title {
      display: inline-block;
      color: $black;
      font-size: $fontSize;
      font-weight: $fontWeight7;
      font-family: $commissioner;
    }
    span.close {
      float: right;
      cursor: pointer;
    }
    p.description {
      color: $darkGray;
      font-size: $fontSize;
      margin: 0.3rem 0;
      line-height: 1.2;
      font-family: $commissioner;
    }
  }

  div.modal-content-inner-container2 {
    border: 2px solid $lightGray;
    border-radius: 8px;
    width: 100%;
    margin: 0.7rem 0;

    .form-contents {
      width: 95%;
      margin: 0.9rem auto;

      input[type="radio"] {
        margin-right: 1rem;
        // margin: 0.5rem 1.3rem 0.55rem 2rem;
      }
      label.container {
        color: $black;
        cursor: pointer;
        font-size: $fontSize;
        font-family: $commissioner;
      }

      label.container:hover {
        color: $moderateCyan;
      }
      p.descriptions {
        color: $darkGray;
        font-size: $fontSize;
        line-height: 1.3;
        margin: 0.4rem 0rem 0.4rem 2.3rem;
        font-family: $commissioner;
      }
    }
  }

  div.modal-content-inner-container3 {
    border: 2px solid $lightGray;
    border-radius: 8px;
    width: 100%;
    margin: 0.7rem 0;

    .form-contents {
      width: 95%;
      margin: 0.9rem auto;

      input[type="radio"] {
        margin-right: 1rem;
        // margin: 0.5rem 1.3rem 0.55rem 2rem;
      }
      label.container {
        color: $black;
        font-size: $fontSize;
        cursor: pointer;
        font-weight: $fontWeight7;
        font-family: $commissioner;
      }
      label.container:hover {
        color: $moderateCyan;
      }
      p.title-description {
        color: $moderateCyan;
        font-size: $fontSize;
        display: inline-block;
        margin: 0 0.3rem;
        font-weight: $fontWeight4;
        font-family: $commissioner;
      }

      p.remainder-description {
        color: $black;
        font-weight: $fontWeight7;
        font-size: $fontSize;
        font-family: $commissioner;
        display: inline-block;
        float: right;
      }

      p.remainder-description1 {
        color: $black;
        font-weight: $fontWeight7;
        font-size: $fontSize;
        font-family: $commissioner;
        margin: 0.3rem 2.2rem;
        display: none;
      }
      p.descriptions {
        color: $darkGray;
        font-size: $fontSize;
        line-height: 1.3;
        margin: 0.5rem 0rem 0.5rem 2.3rem;
        font-family: $commissioner;
      }
    }

    div.donate-container {
      min-height: 10vh;
      display: none;
    }

    div.donate-form-container {
      display: flex;
      width: 95%;
      margin: 0 auto;
      min-height: 10vh;
    }

    div.form {
      flex: 2;
      display: flex;
      place-items: center;

      p.form-description {
        font-size: $fontSize;
        font-family: $commissioner;
        color: $darkGray;
        margin-left: 1.7rem;
      }
    }

    div.button-container {
      flex: 1;
      display: flex;

      div.form-input-container {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        #amountInput {
          width: 80px;
          padding: 12px;
          font-family: $commissioner;
          font-size: $fontSize;
          border: 1px solid $darkGray;
          border-radius: 30px;
        }
      }
      div.button-container1 {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .button1 {
          background-color: $moderateCyan;
          border: none;
          color: #fff;
          padding: 1em;
          text-align: center;
          text-decoration: none;
          white-space: nowrap;
          font-family: $commissioner;
          font-size: Clamp(0.8em, 5vw, 0.9em);
          font-weight: $fontWeight4;
          cursor: pointer;
          border-radius: 30px;
          float: right;
        }
      }
    }
  }

  div.modal-content-inner-container4 {
    border: 2px solid $lightGray;
    border-radius: 8px;
    width: 100%;
    margin: 0.7rem 0;

    .form-contents {
      width: 95%;
      margin: 0.9rem auto;

      input[type="radio"] {
        margin-right: 1rem;
        // margin: 0.5rem 1.3rem 0.55rem 2rem;
      }
      label.container {
        color: $black;
        cursor: pointer;
        font-size: $fontSize;
        font-weight: $fontWeight7;
        font-family: $commissioner;
      }
      label.container:hover {
        color: $moderateCyan;
      }
      p.title-description {
        color: $moderateCyan;
        font-size: $fontSize;
        display: inline-block;
        margin: 0 0.3rem;
        font-weight: $fontWeight4;
        font-family: $commissioner;
      }

      p.remainder-description {
        color: $black;
        font-weight: $fontWeight7;
        font-size: $fontSize;
        font-family: $commissioner;
        display: inline-block;
        float: right;
      }
      p.remainder-description1 {
        color: $black;
        font-weight: $fontWeight7;
        font-size: $fontSize;
        font-family: $commissioner;
        display: none;
        margin: 0.3rem 2.2rem;
      }
      p.descriptions {
        color: $darkGray;
        font-size: $fontSize;
        line-height: 1.3;
        margin: 0.5rem 0rem 0.5rem 2.3rem;
        font-family: $commissioner;
      }
    }

    div.donate-container1 {
      min-height: 10vh;
      display: none;
    }

    div.donate-form-container {
      display: flex;
      width: 95%;
      margin: 0 auto;
      min-height: 10vh;
    }

    div.form {
      flex: 2;
      display: flex;
      place-items: center;

      p.form-description {
        font-size: $fontSize;
        font-family: $commissioner;
        color: $darkGray;
        margin-left: 1.7rem;
      }
    }

    div.button-container {
      flex: 1;
      display: flex;

      div.form-input-container {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        #amount1 {
          width: 80px;
          padding: 12px;
          font-family: $commissioner;
          font-size: $fontSize;
          border: 1px solid $darkGray;
          border-radius: 30px;
        }
      }
      div.button-container1 {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .button2 {
          background-color: $moderateCyan;
          border: none;
          color: #fff;
          padding: 1em;
          text-align: center;
          text-decoration: none;
          white-space: nowrap;
          font-family: $commissioner;
          font-size: Clamp(0.8em, 5vw, 0.9em);
          font-weight: $fontWeight4;
          cursor: pointer;
          border-radius: 30px;
          float: right;
        }
      }
    }
  }
  div.modal-content-inner-container5 {
    border: 2px solid $lightGray;
    border-radius: 8px;
    width: 100%;
    opacity: 0.6;
    margin: 0.7rem 0;
  }
  .form-contents {
    width: 95%;
    margin: 0.9rem auto;

    input[type="radio"] {
      margin-right: 1rem;
      // margin: 0.5rem 1.3rem 0.55rem 2rem;
    }
    label.container {
      color: $black;
      font-size: $fontSize;
      font-weight: $fontWeight7;
      font-family: $commissioner;
    }
    p.title-description {
      color: $moderateCyan;
      font-size: $fontSize;
      display: inline-block;
      margin: 0 0.3rem;
      font-weight: $fontWeight4;
      font-family: $commissioner;
    }

    p.remainder-description {
      color: $black;
      font-weight: $fontWeight7;
      font-size: $fontSize;
      font-family: $commissioner;
      display: inline-block;
      float: right;
    }
    p.remainder-description1 {
      color: $black;
      font-weight: $fontWeight7;
      font-size: $fontSize;
      font-family: $commissioner;
      margin: 0.3rem 2.2rem;
      display: none;
    }
    p.descriptions {
      color: $darkGray;
      font-size: $fontSize;
      line-height: 1.3;
      margin: 0.5rem 0rem 0.5rem 2.3rem;
      font-family: $commissioner;
    }
  }
}

@media screen and (max-width: 768px) {
  // for nav links
  .container-for-links {
    flex-direction: column;
    z-index: 10;
  }
  // third section containing the mahogany edition
  div.third-section-first-container div.inner-container1 p.pledge {
    float: left;
    display: block;
    margin: 0.4rem 0rem 0rem 0rem;
  }

  div.third-section-first-container div.inner-container1 p.bamboo {
    display: block;
  }

  div.third-section-second-container div.inner-container2 p.pledge {
    float: left;
    display: block;
    margin: 0.4rem 0rem 0rem 0rem;
  }

  div.third-section-second-container div.inner-container2 p.bamboo {
    display: block;
  }

  div.third-section-third-container div.inner-container3 p.pledge {
    float: left;
    display: block;
    margin: 0.4rem 0rem 0rem 0rem;
  }

  div.third-section-third-container div.inner-container3 p.bamboo {
    display: block;
  }

  .nav-links-container {
    width: 100%;
    position: relative;
  }

  section.overall-container {
    z-index: 2;
  }

  #navigation.nav-links-container {
    display: none;
  }

  .nav-links {
    flex-direction: column;
    margin-top: 30px;
    background-color: whitesmoke;
    border-radius: 10px;
  }

  .nav-links-item:nth-child(1) {
    border-bottom: 1px solid $darkGray;
  }

  .nav-links-item:nth-child(2) {
    border-bottom: 1px solid $darkGray;
  }

  .nav-links-item {
    padding: 20px;
  }

  .nav-links-item > a {
    color: $darkGray;
  }

  .navbar-brand {
    display: flex;
    flex: 1;
    justify-content: space-between;
  }

  .hamburger {
    cursor: pointer;
    display: block;
  }

  .button-container {
    // flex-direction: column;
    margin: 0.8rem 0;
    // gap: 20px;
  }

  .contents {
    flex-direction: column;
  }

  .description1 {
    border-right: none;
    display: grid;
    place-items: center;
  }
  .description2 {
    border-right: none;
    display: grid;
    place-items: center;
  }
  .description3 {
    border-right: none;
    display: grid;
    place-items: center;
  }

  .contents {
    gap: 20px;
  }

  .contents {
    margin: 20px 0px;
  }

  .description1 .descriptionss {
    margin: 5px 0px;
  }

  .description2 .descriptionss {
    margin: 5px 0px;
  }

  .description3 .descriptionss {
    margin: 5px 0px;
  }

  .content-container {
    text-align: center;
  }

  .progress-bar-container {
    margin: 20px 0px;
  }

  .first-section .button-container .button1 .svg-container {
    display: block;
  }

  body
    > main
    > section
    > section
    > div.button-container
    > div.button1
    > div
    > svg {
    float: right;
  }

  .first-section .button-container .bookmark-container {
    display: none;
  }
  svg {
    float: right;
  }
  div.modal-content
    div.modal-content-inner-container3
    .form-contents
    p.remainder-description {
    display: none;
  }
  div.modal-content
    div.modal-content-inner-container4
    .form-contents
    p.remainder-description {
    display: none;
  }
  div.modal-content
    div.modal-content-inner-container5
    .form-contents
    p.remainder-description {
    display: none;
  }
  div.modal-content
    div.modal-content-inner-container3
    .form-contents
    p.remainder-description1 {
    display: block;
  }
  div.modal-content
    div.modal-content-inner-container4
    .form-contents
    p.remainder-description1 {
    display: block;
  }
  div.modal-content
    div.modal-content-inner-container5
    .form-contents
    p.remainder-description1 {
    display: block;
  }
  div.modal-content
    div.modal-content-inner-container3
    .form-contents
    p.title-description {
    display: block;
    margin-top: 0.1rem;
    margin-left: 2.4rem;
  }
  div.modal-content
    div.modal-content-inner-container4
    .form-contents
    p.title-description {
    display: block;
    margin-top: 0.1rem;
    margin-left: 2.4rem;
  }
  div.modal-content
    div.modal-content-inner-container5
    .form-contents
    p.title-description {
    display: block;
    margin-top: 0.1rem;
    margin-left: 2.4rem;
  }
  div.modal-content
    div.modal-content-inner-container3
    div.donate-form-container {
    flex-direction: column;
  }

  #myModal
    > div
    > div
    > div.modal-content-inner-container3
    > div.donate-container
    > div
    > div.form {
    display: grid;
    text-align: center;
  }
  div.modal-content
    div.modal-content-inner-container4
    div.form
    p.form-description {
    margin: 0.8rem 0rem;
  }
  div.modal-content
    div.modal-content-inner-container3
    div.form
    p.form-description {
    margin: 0.8rem 0rem;
  }
  div.modal-content
    div.modal-content-inner-container3
    div.button-container
    div.form-input-container {
    justify-content: center;
  }

  div.modal-content
    div.modal-content-inner-container3
    div.button-container
    div.button-container1 {
    justify-content: center;
  }

  div.modal-content
    div.modal-content-inner-container4
    div.button-container
    div.form-input-container {
    justify-content: center;
  }

  div.modal-content
    div.modal-content-inner-container4
    div.button-container
    div.button-container1 {
    justify-content: center;
  }

  div.modal-content
    div.modal-content-inner-container4
    div.donate-form-container {
    flex-direction: column;
  }

  div.modal-content div.modal-content-inner-container4 div.form {
    display: grid;
    text-align: center;
  }
}

@media screen and (max-width: 425px) {
  .first-section {
    width: 90%;
  }
  .second-section {
    width: 90%;
  }
  .third-section {
    width: 90%;
  }
  div.modal-content {
    width: 85%;
  }
}
