@import url(https://fonts.googleapis.com/css?family=Commissioner:100,200,300,regular,500,600,700,800,900);
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 100%;
}

header {
  height: calc(52vh - 12.8px);
  background: url(./images/image-hero-desktop.jpg) no-repeat center;
  background-size: cover;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

.hamburger {
  display: none;
}

nav {
  height: calc(12vh - 12.8px);
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-for-links {
  height: calc(4vh - 12.8px);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-brand {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.nav-links-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav-links-item {
  list-style: none;
}

.nav-links-item > a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 16px;
  font-weight: 500;
  font-family: "Commissioner", sans-serif;
}

main {
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: whitesmoke;
}

section.overall-container {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 100%;
  position: relative;
  top: -100px;
}

.main-section {
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.first-section {
  width: 70%;
  background-color: #fff;
  border-radius: 10px;
}

.first-section .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 7vh;
}

.first-section .image-container > img {
  position: absolute;
  top: -20px;
}

.first-section .title {
  text-align: center;
  margin: 0px 10px;
  font-family: "Commissioner", sans-serif;
  font-weight: 700;
  font-size: Clamp(1.5rem, 5vw, 1.75rem);
}

.first-section .description {
  text-align: center;
  font-family: "Commissioner", sans-serif;
  font-weight: 400;
  margin: 15px 10px;
  font-size: Clamp(1.1rem, 5vw, 0.8rem);
  color: #a9a9a9;
}

.first-section .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  margin: 30px auto;
  min-height: 4vh;
}

.first-section .button-container .button1 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.first-section .button-container .button1 .svg-container {
  display: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.first-section .button-container .button1 .svg-container circle#circle-fill1 {
  fill: #7a7a7a;
  opacity: 1;
}

.first-section .button-container .button1 .svg-container path#path-fill1 {
  fill: #e8e8e8;
  opacity: 0.4;
}

.first-section .button-container .button1 .button {
  background-color: #147b74;
  border: none;
  color: #fff;
  padding: 1em 1.25em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  display: inline-block;
  margin: 0.25rem 0.125rem;
  font-family: "Commissioner", sans-serif;
  font-size: Clamp(0.8rem, 5vw, 1rem);
  font-weight: 400;
  cursor: pointer;
  border-radius: 30px;
}

.first-section .button-container .bookmark-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.first-section .button-container .bookmark-container .relative-bookmark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.first-section .button-container .bookmark-container .relative-bookmark .svg-container {
  position: absolute;
  width: 100%;
  left: 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  cursor: pointer;
  z-index: 70;
}

.first-section .button-container .bookmark-container .relative-bookmark circle#circle-fill {
  fill: #7a7a7a;
  opacity: 1;
}

.first-section .button-container .bookmark-container .relative-bookmark path#path-fill {
  fill: #e8e8e8;
  opacity: 0.4;
}

.first-section .button-container .bookmark-container .relative-bookmark .bookmark-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 56px;
  right: 0px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  width: 180px;
  background-color: #7a7a7a;
  opacity: 0.3;
  z-index: 0;
  border-radius: 25px;
  padding: 20px 20px;
}

.first-section .button-container .bookmark-container .relative-bookmark .bookmark-contain .description1 {
  text-align: center;
  font-family: "Commissioner", sans-serif;
  font-weight: 400;
  padding-left: 1.7rem;
  opacity: none;
  font-size: 16px;
  display: block;
}

.first-section .button-container .bookmark-container .relative-bookmark .bookmark-contain .description {
  text-align: center;
  font-family: "Commissioner", sans-serif;
  font-weight: 400;
  padding-left: 2.5rem;
  display: none;
  color: #008b68;
  font-size: 16px;
}

.first-section .button-container .bookmark-container .relative-bookmark .bookmark-contain span.description-hover {
  text-align: center;
  font-family: "Commissioner", sans-serif;
  font-weight: 400;
  margin: 15px 10px;
  display: none;
  font-size: 16px;
}

.first-section .button-container circle:hover .description-hover {
  display: block;
}

.first-section .button-container circle:hover p.description {
  display: none;
  color: cornflowerblue;
}

.second-section {
  min-height: 176px;
  margin-top: 50px;
  width: 70%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 10px;
  background-color: #fff;
}

.contents {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: calc(15vh - 12.8px);
}

.description1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 3px solid #7a7a7a;
}

.description1 .title {
  margin: 5px 10px;
  font-family: "Commissioner", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
}

.description1 .descriptionss {
  margin: 0px 10px;
  font-family: "Commissioner", sans-serif;
  font-weight: 400;
  color: #7a7a7a;
  font-size: 1.3rem;
}

.description2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 3px solid #7a7a7a;
}

.description2 .title1 {
  margin: 5px 10px;
  font-family: "Commissioner", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
}

.description2 .descriptionss {
  margin: 0px 10px;
  font-family: "Commissioner", sans-serif;
  font-weight: 400;
  color: #7a7a7a;
  font-size: 1.3rem;
}

.description3 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.description3 .title {
  margin: 5px 10px;
  font-family: "Commissioner", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
}

.description3 .descriptionss {
  margin: 0px 10px;
  font-family: "Commissioner", sans-serif;
  font-weight: 400;
  color: #7a7a7a;
  font-size: 1.3rem;
}

.progress-bar-container {
  width: 90%;
  background-color: #7a7a7a;
  height: 2vh;
  border-radius: 10px;
}

.progress-bar {
  width: 80%;
  height: 2vh;
  border-radius: 10px;
  background-color: #147b74;
}

.third-section {
  width: 70%;
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 10px;
  background-color: #fff;
}

.centered-container {
  width: 90%;
}

.centered-container .title {
  margin: 20px 10px;
  font-family: "Commissioner", sans-serif;
  font-weight: 700;
  font-size: 1.7rem;
}

.centered-container .description-project {
  margin: 10px 10px 30px 10px;
  font-family: "Commissioner", sans-serif;
  font-weight: 400;
  color: #7a7a7a;
  font-size: 1.1rem;
  line-height: 1.6;
}

div.third-section-first-container {
  width: 90%;
  border-radius: 8px;
  border: 1px solid #e8e8e8;
  margin-bottom: 1.3rem;
}

div.third-section-first-container div.inner-container1 {
  width: 90%;
  margin: 1.5rem auto;
}

div.third-section-first-container div.inner-container1 p.bamboo {
  display: inline-block;
  color: black;
  font-size: 16px;
  font-weight: 700;
  font-family: "Commissioner", sans-serif;
}

div.third-section-first-container div.inner-container1 p.pledge {
  color: #3cb4ac;
  font-size: 16px;
  font-weight: 500;
  font-family: "Commissioner", sans-serif;
  display: inline-block;
  float: right;
}

div.third-section-first-container div.inner-container1 p.description {
  font-size: 1.1rem;
  margin: 1.7rem 0rem;
  color: #7a7a7a;
  line-height: 1.6;
  font-family: "Commissioner", sans-serif;
}

div.third-section-first-container div.inner-container1 p.number {
  font-size: 1.8rem;
  font-weight: 700;
  font-family: "Commissioner", sans-serif;
  color: black;
  display: inline-block;
}

div.third-section-first-container div.inner-container1 sup {
  vertical-align: middle;
  font-size: initial;
  font-size: "Commissioner", sans-serif;
  color: #7a7a7a;
}

div.third-section-first-container div.inner-container1 .button {
  background-color: #147b74;
  border: none;
  color: #fff;
  padding: 0.6em 1.2em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  display: inline-block;
  font-family: "Commissioner", sans-serif;
  font-size: Clamp(0.8rem, 5vw, 1rem);
  font-weight: 400;
  cursor: pointer;
  border-radius: 30px;
  float: right;
}

div.third-section-second-container {
  width: 90%;
  border-radius: 8px;
  border: 1px solid #e8e8e8;
  margin-bottom: 1.3rem;
}

div.third-section-second-container div.inner-container2 {
  width: 90%;
  margin: 1.5rem auto;
}

div.third-section-second-container div.inner-container2 p.bamboo {
  display: inline-block;
  color: black;
  font-size: 16px;
  font-weight: 700;
  font-family: "Commissioner", sans-serif;
}

div.third-section-second-container div.inner-container2 p.pledge {
  color: #3cb4ac;
  font-size: 16px;
  font-weight: 500;
  font-family: "Commissioner", sans-serif;
  display: inline-block;
  float: right;
}

div.third-section-second-container div.inner-container2 p.description {
  font-size: 1.1rem;
  margin: 1.7rem 0rem;
  color: #7a7a7a;
  line-height: 1.6;
  font-family: "Commissioner", sans-serif;
}

div.third-section-second-container div.inner-container2 p.number {
  font-size: 1.8rem;
  font-weight: 700;
  font-family: "Commissioner", sans-serif;
  color: black;
  display: inline-block;
}

div.third-section-second-container div.inner-container2 sup {
  vertical-align: middle;
  font-size: initial;
  font-size: "Commissioner", sans-serif;
  color: #7a7a7a;
}

div.third-section-second-container div.inner-container2 .button {
  background-color: #3cb4ac;
  border: none;
  color: #fff;
  padding: 0.6em 1.2em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  display: inline-block;
  font-family: "Commissioner", sans-serif;
  font-size: Clamp(0.8rem, 5vw, 1rem);
  font-weight: 400;
  cursor: pointer;
  border-radius: 30px;
  float: right;
}

div.third-section-third-container {
  width: 90%;
  border-radius: 8px;
  border: 1px solid #e8e8e8;
  margin-bottom: 1.3rem;
}

div.third-section-third-container div.inner-container3 {
  width: 90%;
  opacity: 0.6;
  margin: 1.5rem auto;
}

div.third-section-third-container div.inner-container3 p.bamboo {
  display: inline-block;
  color: black;
  font-size: 16px;
  font-weight: 700;
  font-family: "Commissioner", sans-serif;
}

div.third-section-third-container div.inner-container3 p.pledge {
  color: #3cb4ac;
  font-size: 16px;
  font-weight: 500;
  font-family: "Commissioner", sans-serif;
  display: inline-block;
  float: right;
}

div.third-section-third-container div.inner-container3 p.description {
  font-size: 1.1rem;
  margin: 1.7rem 0rem;
  color: #7a7a7a;
  line-height: 1.6;
  font-family: "Commissioner", sans-serif;
}

div.third-section-third-container div.inner-container3 p.number {
  font-size: 1.8rem;
  font-weight: 700;
  font-family: "Commissioner", sans-serif;
  color: black;
  display: inline-block;
}

div.third-section-third-container div.inner-container3 sup {
  vertical-align: middle;
  font-size: initial;
  font-size: "Commissioner", sans-serif;
  color: #7a7a7a;
}

div.third-section-third-container div.inner-container3 .button {
  background-color: #3cb4ac;
  border: none;
  color: #fff;
  padding: 0.6em 1.2em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  display: inline-block;
  font-family: "Commissioner", sans-serif;
  font-size: Clamp(0.8rem, 5vw, 1rem);
  font-weight: 400;
  cursor: pointer;
  border-radius: 30px;
  float: right;
}

div.modal {
  position: fixed;
  z-index: 100;
  padding-top: 4.25rem;
  left: 0;
  display: none;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

div.modal-content {
  background-color: #fff;
  margin: auto;
  overflow-y: hidden;
  border-radius: 8px;
  padding: 1.25rem;
  width: 70%;
}

div.modal-content div.modal-content-inner-container {
  width: 98%;
  margin: 0.2rem auto;
}

div.modal-content div.modal-content-inner-container p.title {
  display: inline-block;
  color: black;
  font-size: 16px;
  font-weight: 700;
  font-family: "Commissioner", sans-serif;
}

div.modal-content div.modal-content-inner-container span.close {
  float: right;
  cursor: pointer;
}

div.modal-content div.modal-content-inner-container p.description {
  color: #7a7a7a;
  font-size: 16px;
  margin: 0.3rem 0;
  line-height: 1.2;
  font-family: "Commissioner", sans-serif;
}

div.modal-content div.modal-content-inner-container2 {
  border: 2px solid #e8e8e8;
  border-radius: 8px;
  width: 100%;
  margin: 0.7rem 0;
}

div.modal-content div.modal-content-inner-container2 .form-contents {
  width: 95%;
  margin: 0.9rem auto;
}

div.modal-content div.modal-content-inner-container2 .form-contents input[type="radio"] {
  margin-right: 1rem;
}

div.modal-content div.modal-content-inner-container2 .form-contents label.container {
  color: black;
  cursor: pointer;
  font-size: 16px;
  font-family: "Commissioner", sans-serif;
}

div.modal-content div.modal-content-inner-container2 .form-contents label.container:hover {
  color: #3cb4ac;
}

div.modal-content div.modal-content-inner-container2 .form-contents p.descriptions {
  color: #7a7a7a;
  font-size: 16px;
  line-height: 1.3;
  margin: 0.4rem 0rem 0.4rem 2.3rem;
  font-family: "Commissioner", sans-serif;
}

div.modal-content div.modal-content-inner-container3 {
  border: 2px solid #e8e8e8;
  border-radius: 8px;
  width: 100%;
  margin: 0.7rem 0;
}

div.modal-content div.modal-content-inner-container3 .form-contents {
  width: 95%;
  margin: 0.9rem auto;
}

div.modal-content div.modal-content-inner-container3 .form-contents input[type="radio"] {
  margin-right: 1rem;
}

div.modal-content div.modal-content-inner-container3 .form-contents label.container {
  color: black;
  font-size: 16px;
  cursor: pointer;
  font-weight: 700;
  font-family: "Commissioner", sans-serif;
}

div.modal-content div.modal-content-inner-container3 .form-contents label.container:hover {
  color: #3cb4ac;
}

div.modal-content div.modal-content-inner-container3 .form-contents p.title-description {
  color: #3cb4ac;
  font-size: 16px;
  display: inline-block;
  margin: 0 0.3rem;
  font-weight: 400;
  font-family: "Commissioner", sans-serif;
}

div.modal-content div.modal-content-inner-container3 .form-contents p.remainder-description {
  color: black;
  font-weight: 700;
  font-size: 16px;
  font-family: "Commissioner", sans-serif;
  display: inline-block;
  float: right;
}

div.modal-content div.modal-content-inner-container3 .form-contents p.remainder-description1 {
  color: black;
  font-weight: 700;
  font-size: 16px;
  font-family: "Commissioner", sans-serif;
  margin: 0.3rem 2.2rem;
  display: none;
}

div.modal-content div.modal-content-inner-container3 .form-contents p.descriptions {
  color: #7a7a7a;
  font-size: 16px;
  line-height: 1.3;
  margin: 0.5rem 0rem 0.5rem 2.3rem;
  font-family: "Commissioner", sans-serif;
}

div.modal-content div.modal-content-inner-container3 div.donate-container {
  min-height: 10vh;
  display: none;
}

div.modal-content div.modal-content-inner-container3 div.donate-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  margin: 0 auto;
  min-height: 10vh;
}

div.modal-content div.modal-content-inner-container3 div.form {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
}

div.modal-content div.modal-content-inner-container3 div.form p.form-description {
  font-size: 16px;
  font-family: "Commissioner", sans-serif;
  color: #7a7a7a;
  margin-left: 1.7rem;
}

div.modal-content div.modal-content-inner-container3 div.button-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.modal-content div.modal-content-inner-container3 div.button-container div.form-input-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

div.modal-content div.modal-content-inner-container3 div.button-container div.form-input-container #amountInput {
  width: 80px;
  padding: 12px;
  font-family: "Commissioner", sans-serif;
  font-size: 16px;
  border: 1px solid #7a7a7a;
  border-radius: 30px;
}

div.modal-content div.modal-content-inner-container3 div.button-container div.button-container1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

div.modal-content div.modal-content-inner-container3 div.button-container div.button-container1 .button1 {
  background-color: #3cb4ac;
  border: none;
  color: #fff;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  font-family: "Commissioner", sans-serif;
  font-size: Clamp(0.8em, 5vw, 0.9em);
  font-weight: 400;
  cursor: pointer;
  border-radius: 30px;
  float: right;
}

div.modal-content div.modal-content-inner-container4 {
  border: 2px solid #e8e8e8;
  border-radius: 8px;
  width: 100%;
  margin: 0.7rem 0;
}

div.modal-content div.modal-content-inner-container4 .form-contents {
  width: 95%;
  margin: 0.9rem auto;
}

div.modal-content div.modal-content-inner-container4 .form-contents input[type="radio"] {
  margin-right: 1rem;
}

div.modal-content div.modal-content-inner-container4 .form-contents label.container {
  color: black;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  font-family: "Commissioner", sans-serif;
}

div.modal-content div.modal-content-inner-container4 .form-contents label.container:hover {
  color: #3cb4ac;
}

div.modal-content div.modal-content-inner-container4 .form-contents p.title-description {
  color: #3cb4ac;
  font-size: 16px;
  display: inline-block;
  margin: 0 0.3rem;
  font-weight: 400;
  font-family: "Commissioner", sans-serif;
}

div.modal-content div.modal-content-inner-container4 .form-contents p.remainder-description {
  color: black;
  font-weight: 700;
  font-size: 16px;
  font-family: "Commissioner", sans-serif;
  display: inline-block;
  float: right;
}

div.modal-content div.modal-content-inner-container4 .form-contents p.remainder-description1 {
  color: black;
  font-weight: 700;
  font-size: 16px;
  font-family: "Commissioner", sans-serif;
  display: none;
  margin: 0.3rem 2.2rem;
}

div.modal-content div.modal-content-inner-container4 .form-contents p.descriptions {
  color: #7a7a7a;
  font-size: 16px;
  line-height: 1.3;
  margin: 0.5rem 0rem 0.5rem 2.3rem;
  font-family: "Commissioner", sans-serif;
}

div.modal-content div.modal-content-inner-container4 div.donate-container1 {
  min-height: 10vh;
  display: none;
}

div.modal-content div.modal-content-inner-container4 div.donate-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  margin: 0 auto;
  min-height: 10vh;
}

div.modal-content div.modal-content-inner-container4 div.form {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
}

div.modal-content div.modal-content-inner-container4 div.form p.form-description {
  font-size: 16px;
  font-family: "Commissioner", sans-serif;
  color: #7a7a7a;
  margin-left: 1.7rem;
}

div.modal-content div.modal-content-inner-container4 div.button-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.modal-content div.modal-content-inner-container4 div.button-container div.form-input-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

div.modal-content div.modal-content-inner-container4 div.button-container div.form-input-container #amount1 {
  width: 80px;
  padding: 12px;
  font-family: "Commissioner", sans-serif;
  font-size: 16px;
  border: 1px solid #7a7a7a;
  border-radius: 30px;
}

div.modal-content div.modal-content-inner-container4 div.button-container div.button-container1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

div.modal-content div.modal-content-inner-container4 div.button-container div.button-container1 .button2 {
  background-color: #3cb4ac;
  border: none;
  color: #fff;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  font-family: "Commissioner", sans-serif;
  font-size: Clamp(0.8em, 5vw, 0.9em);
  font-weight: 400;
  cursor: pointer;
  border-radius: 30px;
  float: right;
}

div.modal-content div.modal-content-inner-container5 {
  border: 2px solid #e8e8e8;
  border-radius: 8px;
  width: 100%;
  opacity: 0.6;
  margin: 0.7rem 0;
}

div.modal-content .form-contents {
  width: 95%;
  margin: 0.9rem auto;
}

div.modal-content .form-contents input[type="radio"] {
  margin-right: 1rem;
}

div.modal-content .form-contents label.container {
  color: black;
  font-size: 16px;
  font-weight: 700;
  font-family: "Commissioner", sans-serif;
}

div.modal-content .form-contents p.title-description {
  color: #3cb4ac;
  font-size: 16px;
  display: inline-block;
  margin: 0 0.3rem;
  font-weight: 400;
  font-family: "Commissioner", sans-serif;
}

div.modal-content .form-contents p.remainder-description {
  color: black;
  font-weight: 700;
  font-size: 16px;
  font-family: "Commissioner", sans-serif;
  display: inline-block;
  float: right;
}

div.modal-content .form-contents p.remainder-description1 {
  color: black;
  font-weight: 700;
  font-size: 16px;
  font-family: "Commissioner", sans-serif;
  margin: 0.3rem 2.2rem;
  display: none;
}

div.modal-content .form-contents p.descriptions {
  color: #7a7a7a;
  font-size: 16px;
  line-height: 1.3;
  margin: 0.5rem 0rem 0.5rem 2.3rem;
  font-family: "Commissioner", sans-serif;
}

@media screen and (max-width: 768px) {
  .container-for-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 10;
  }
  div.third-section-first-container div.inner-container1 p.pledge {
    float: left;
    display: block;
    margin: 0.4rem 0rem 0rem 0rem;
  }
  div.third-section-first-container div.inner-container1 p.bamboo {
    display: block;
  }
  div.third-section-second-container div.inner-container2 p.pledge {
    float: left;
    display: block;
    margin: 0.4rem 0rem 0rem 0rem;
  }
  div.third-section-second-container div.inner-container2 p.bamboo {
    display: block;
  }
  div.third-section-third-container div.inner-container3 p.pledge {
    float: left;
    display: block;
    margin: 0.4rem 0rem 0rem 0rem;
  }
  div.third-section-third-container div.inner-container3 p.bamboo {
    display: block;
  }
  .nav-links-container {
    width: 100%;
    position: relative;
  }
  section.overall-container {
    z-index: 2;
  }
  #navigation.nav-links-container {
    display: none;
  }
  .nav-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 30px;
    background-color: whitesmoke;
    border-radius: 10px;
  }
  .nav-links-item:nth-child(1) {
    border-bottom: 1px solid #7a7a7a;
  }
  .nav-links-item:nth-child(2) {
    border-bottom: 1px solid #7a7a7a;
  }
  .nav-links-item {
    padding: 20px;
  }
  .nav-links-item > a {
    color: #7a7a7a;
  }
  .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hamburger {
    cursor: pointer;
    display: block;
  }
  .button-container {
    margin: 0.8rem 0;
  }
  .contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .description1 {
    border-right: none;
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  .description2 {
    border-right: none;
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  .description3 {
    border-right: none;
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  .contents {
    gap: 20px;
  }
  .contents {
    margin: 20px 0px;
  }
  .description1 .descriptionss {
    margin: 5px 0px;
  }
  .description2 .descriptionss {
    margin: 5px 0px;
  }
  .description3 .descriptionss {
    margin: 5px 0px;
  }
  .content-container {
    text-align: center;
  }
  .progress-bar-container {
    margin: 20px 0px;
  }
  .first-section .button-container .button1 .svg-container {
    display: block;
  }
  body
> main
> section
> section
> div.button-container
> div.button1
> div
> svg {
    float: right;
  }
  .first-section .button-container .bookmark-container {
    display: none;
  }
  svg {
    float: right;
  }
  div.modal-content
div.modal-content-inner-container3
.form-contents
p.remainder-description {
    display: none;
  }
  div.modal-content
div.modal-content-inner-container4
.form-contents
p.remainder-description {
    display: none;
  }
  div.modal-content
div.modal-content-inner-container5
.form-contents
p.remainder-description {
    display: none;
  }
  div.modal-content
div.modal-content-inner-container3
.form-contents
p.remainder-description1 {
    display: block;
  }
  div.modal-content
div.modal-content-inner-container4
.form-contents
p.remainder-description1 {
    display: block;
  }
  div.modal-content
div.modal-content-inner-container5
.form-contents
p.remainder-description1 {
    display: block;
  }
  div.modal-content
div.modal-content-inner-container3
.form-contents
p.title-description {
    display: block;
    margin-top: 0.1rem;
    margin-left: 2.4rem;
  }
  div.modal-content
div.modal-content-inner-container4
.form-contents
p.title-description {
    display: block;
    margin-top: 0.1rem;
    margin-left: 2.4rem;
  }
  div.modal-content
div.modal-content-inner-container5
.form-contents
p.title-description {
    display: block;
    margin-top: 0.1rem;
    margin-left: 2.4rem;
  }
  div.modal-content
div.modal-content-inner-container3
div.donate-form-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #myModal
> div
> div
> div.modal-content-inner-container3
> div.donate-container
> div
> div.form {
    display: -ms-grid;
    display: grid;
    text-align: center;
  }
  div.modal-content
div.modal-content-inner-container4
div.form
p.form-description {
    margin: 0.8rem 0rem;
  }
  div.modal-content
div.modal-content-inner-container3
div.form
p.form-description {
    margin: 0.8rem 0rem;
  }
  div.modal-content
div.modal-content-inner-container3
div.button-container
div.form-input-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  div.modal-content
div.modal-content-inner-container3
div.button-container
div.button-container1 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  div.modal-content
div.modal-content-inner-container4
div.button-container
div.form-input-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  div.modal-content
div.modal-content-inner-container4
div.button-container
div.button-container1 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  div.modal-content
div.modal-content-inner-container4
div.donate-form-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  div.modal-content div.modal-content-inner-container4 div.form {
    display: -ms-grid;
    display: grid;
    text-align: center;
  }
}

@media screen and (max-width: 425px) {
  .first-section {
    width: 90%;
  }
  .second-section {
    width: 90%;
  }
  .third-section {
    width: 90%;
  }
  div.modal-content {
    width: 85%;
  }
}
/*# sourceMappingURL=styles.css.map */