// variables;
// colours
$black: hsl(0, 0%, 0%);
$darkGray: hsl(0, 0%, 48%);
$moderateCyan: hsl(176, 50%, 47%);
$darkCyan: hsl(176, 72%, 28%);
$lightGray: #e8e8e8;

// fontSize
$fontSize: 16px;

//font link
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@200&display=swap");

//font type
$commissioner: "Commissioner", sans-serif;

// font weight
$fontWeight4: 400;
$fontWeight5: 500;
$fontWeight7: 700;
$fontWeight9: 900;

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  max-width: 100%;
}

//Container for the navbar

header {
  height: calc(55vh - 12.8px);
  background: url(./images/image-hero-desktop.jpg) no-repeat center;
  background-size: cover;
  flex: 1;
  width: 100%;
}

.hamburger {
  display: none;
}

nav {
  height: calc(12vh - 12.8px);
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-for-links {
  height: calc(4vh - 12.8px);
  width: 100%;
  display: flex;
}

.navbar-brand {
  flex: 2;
}

.nav-links-container {
  flex: 1;
}

.nav-links {
  display: flex;
  justify-content: space-around;
}

.nav-links-item {
  list-style: none;
}

.nav-links-item > a {
  text-decoration: none;
  color: whitesmoke;
  font-size: $fontSize;
  font-weight: $fontWeight7;
  font-family: $commissioner;
}

main {
  width: 100%;
  display: grid;
  place-items: center;
  background-color: whitesmoke;
}

section.overall-container {
  display: grid;
  place-items: center;
  width: 80%;
}

.container{
  width: 100%;
  height: 3vh;
}

.main-section {
  width: 100%;
  display: grid;
  place-items: center;
  position: relative;
  min-height: calc(25vh - 12.8px);
}

.first-section {
  min-height: calc(25vh - 12.8px);
  width: 80%;
  position: absolute;
  top: -80px;
  background-color: #fff;
  border-radius: 10px;

  .image-container {
    display: flex;
    justify-content: center;
    position: relative;
    height: 7vh;
  }

  .image-container > img {
    position: absolute;
    top: -20px;
  }

  .title {
    text-align: center;
    margin: 0px 10px;
    font-family: $commissioner;
    font-weight: $fontWeight7;
    font-size: 1.75rem;
  }

  .description {
    text-align: center;
    font-family: $commissioner;
    font-weight: $fontWeight4;
    margin: 15px 10px;
    font-size: $fontSize;
    color: #a9a9a9;
  }

  .button-container {
    display: flex;
    width: 85%;
    margin: 30px auto;
    min-height: 8vh;

    .button1 {
      flex: 1;
      display: flex;

      .svg-container {
        display: none;
        flex: 1;

        circle#circle-fill1 {
          fill: $darkGray;
          opacity: 1;
        }

        // rgb(20, 123, 116);
        path#path-fill1 {
          fill: $lightGray;
          opacity: 0.4;
        }
      }

      .button {
        background-color: $darkCyan;
        border: none;
        color: #fff;
        padding: 16px 20px;
        text-align: center;
        text-decoration: none;
        white-space: nowrap;
        display: inline-block;
        margin: 4px 2px;
        font-family: $commissioner;
        font-size: $fontSize;
        font-weight: $fontWeight7;
        cursor: pointer;
        border-radius: 30px;
      }
    }

    .bookmark-container {
      flex: 1;
      display: flex;
      justify-content: flex-end;

      .relative-bookmark {
        display: flex;
        position: relative;

        .svg-container {
          position: absolute;
          width: 100%;
          left: 0px;
          flex: 1;
          cursor: pointer;
          z-index: 70;
        }

        circle#circle-fill {
          fill: $darkGray;
          opacity: 1;
        }

        path#path-fill {
          fill: $lightGray;
          opacity: 0.4;
        }

        .bookmark-contain {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 7vh;
          right: 0px;
          flex: 2;
          width: 180px;
          background-color: $darkGray;
          opacity: 0.3;
          z-index: 0;
          border-radius: 25px;
          padding: 20px 20px;

          .description1 {
            text-align: center;
            font-family: $commissioner;
            font-weight: $fontWeight7;
            padding-left: 1.7rem;
            opacity: none;
            font-size: $fontSize;
            display: block;
          }

          .description {
            text-align: center;
            font-family: $commissioner;
            font-weight: $fontWeight9;
            padding-left: 2.5rem;
            display: none;
            color: #008b68;
            font-size: $fontSize;
          }

          span.description-hover {
            text-align: center;
            font-family: $commissioner;
            font-weight: $fontWeight7;
            margin: 15px 10px;
            display: none;
            font-size: $fontSize;
          }
        }
      }
    }

    circle:hover .description-hover {
      display: block;
    }

    circle:hover p.description {
      display: none;
      color: cornflowerblue;
    }
  }
}

.second-section {
  min-height: calc(45vh - 12.8px);
  width: 80%;
  border-radius: 10px;
  background-color: blue;
}

.fourth-section {
  min-height: calc(25vh - 12.8px);
  width: 90%;
  background-color: red;
}

@media screen and (max-width: 768px) {
  .container-for-links {
    flex-direction: column;
  }

  .main-section {
    height: calc(32vh - 12.8px);
  }
  .nav-links-container {
    width: 100%;
    position: relative;
  }

  #navigation.nav-links-container {
    display: none;
  }

  .nav-links {
    flex-direction: column;
    margin-top: 30px;
    background-color: whitesmoke;
    border-radius: 10px;
  }

  .nav-links-item:nth-child(1) {
    border-bottom: 1px solid $darkGray;
  }

  .nav-links-item:nth-child(2) {
    border-bottom: 1px solid $darkGray;
  }

  .nav-links-item {
    padding: 20px;
  }

  .nav-links-item > a {
    color: $darkGray;
  }

  .navbar-brand {
    display: flex;
    flex: 1;
    justify-content: space-between;
  }

  .hamburger {
    cursor: pointer;
    display: block;
  }

  .button-container {
    flex-direction: column;
    gap: 20px;
  }

  .first-section .button-container .button1 .svg-container {
    display: block;
  }

  body
    > main
    > section
    > section
    > div.button-container
    > div.button1
    > div
    > svg {
    float: right;
  }

  .first-section .button-container .bookmark-container {
    display: none;
  }
  svg{
    float: right;
  }
}

@media screen and (max-width: 425px) {
  header {
    height: calc(65vh - 12.8px);
  }
  .first-section{
    width: 100%;
  }
  .second-section{
    width: 100%;
  }
}
